<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="row col">
      <a class="navbar-brand" href="#">Api作品</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://quip.com/wFZYARR2o5uS" target="_blank">颱風防災資訊平台
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://chiayi-ht.robby570.tw/" target="_blank">參考版型</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
