<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <div class="row col">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">首頁
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">連結一</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col">
        <h2>目標</h2>
        <a href="https://quip.com/wFZYARR2o5uS">颱風防災資訊平台網頁前端實作 - 六角學院</a>
      </div>
    </div>
  </div>

</div>
