<app-header></app-header>
<div class="container">
  <div class="row">
    <select name="" id="" class="form-control mt-5" [(ngModel)]="selectedObject" (ngModelChange)="updateSelectedValue($event)">
      <option value="" disabled>請選擇</option>
      <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
    </select>
    <p>{{selectedObject | json}}</p>
    <ul id="list"></ul>
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">時間</th>
          <th scope="col">區域</th>
          <th scope="col">詳細位置</th>
          <th scope="col">描述</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of disasterData">
          <td>{{item.CaseTime}}</td>
          <td>{{item.CaseLocationDistrict}}</td>
          <td>{{item.CaseLocationDescription}}</td>
          <td>{{item.Name}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<router-outlet></router-outlet>
