<app-header></app-header>
<div class="container mt-5">
  <div class="row">
    <div class="col-6">
      <select class="form-control mt-2" [(ngModel)]="sel" name="sel">
        <option value="" disabled>請選擇</option>
        <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
      </select>
      <ul id="list"></ul>
      <table class="table table-style mt-3">
        <thead>
          <tr>
            <th scope="col">時間</th>
            <th scope="col">區域</th>
            <th scope="col">詳細位置</th>
            <th scope="col">描述</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of disasterData | select: sel">
            <td>{{item.CaseTime}}</td>
            <td><span class="badge badge-primary">{{item.CaseLocationDistrict}}</span></td>
            <td>{{item.CaseLocationDescription}}</td>
            <td>{{item.Name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-6">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoomValue">
      </agm-map>
    </div>
  </div>
</div>



<router-outlet></router-outlet>
