@import "~styles/variables";
agm-map {
    height: 80vh;
}

.title {
    display: inline;
    color: #333;
    padding: 6px 6px 6px 12px;
    border-left:4px solid nth($colors,1);
}

.TStyle-white {
    background: #fff;
    thead {
        tr {
            th {
                background: #444444;
                color: #fff;
                font-weight: normal;
            }
        }
    }
    tbody {
        tr {
            td {
                background: #fff;
                font-weight: normal;
            }
        }
    }
}
