agm-map {
    height: 80vh;
}

.table-style {
    thead {
        tr {
            th {
                color: #fff;
                font-weight: normal;
            }
        }
    }
    tbody {
        tr {
            td {
                color: #fff;
                font-weight: normal;
            }
        }
    }
}
