/* You can add global styles to this file, and also import other style files */
@import "~styles/variables";
body {
    min-height: 100vh;
    font-size: 15px;
    font-family: '微軟正黑體', Arial, Helvetica, sans-serif;
}
